{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'condottieri_messages/css/condottieri_messages.css' %}" />
{% endblock %}

{% block head_title %}{% trans "Mail" %}{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url 'condottieri_messages:inbox' %}">{% trans "Inbox" %}</a></li>
<li><a href="{% url 'condottieri_messages:outbox' %}">{% trans "Sent Messages" %}</a></li>
<li><a href="{% url 'condottieri_messages:trash' %}">{% trans "Trash" %}</a></li>
</ul>
{% endblock %}

{% block body %}
<div id="mail">
{% block content %}
{% endblock %}
</div>
{% endblock %}
